<form
  [formGroup]="formRegister"
  (ngSubmit)="onSubmit()"
  class="bg-white p-4 rounded-md"
>
  <h1 class="text-2xl text-center mb-2">Register</h1>
  <!-- FullName -->
  <div class="form-group mb-2">
    <label for="fullName">Fullname</label>
    <input
      type="text"
      formControlName="fullName"
      id="fullName"
      placeholder="Enter full name"
      class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
    />
  </div>
  <!-- Username -->
  <div class="form-group mb-2">
    <label for="username">Username</label>
    <input
      type="text"
      formControlName="username"
      id="username"
      placeholder="Enter user name"
      class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
    />
  </div>
  <!-- Email -->
  <div class="form-group mb-2">
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      placeholder="Enter email"
      class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
    />
  </div>
  <!-- PhoneNumber&Date -->
  <div class="row mb-2 flex gap-2">
    <div class="form-group w-1/2">
      <label for="phoneNumber">PhoneNumber</label>
      <input
        type="number"
        formControlName="phoneNumber"
        id="phoneNumber"
        placeholder="Enter phone number"
        class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
      />
    </div>
    <div class="form-group w-1/2">
      <label for="dateOfBirth">DateOfBirth</label>
      <input
        type="date"
        formControlName="dateOfBirth"
        id="dateOfBirth"
        class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
      />
    </div>
  </div>
  <!-- Address&Gender -->
  <div class="row mb-2 flex items-center gap-2">
    <div class="form-group w-1/2">
      <label for="address">Address</label>
      <input
        type="text"
        formControlName="address"
        id="address"
        placeholder="Enter address"
        class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
      />
    </div>
    <!-- Gender -->
    <div class="form-group mt-2 w-1/2 flex gap-4">
      <div class="form-item flex gap-2" *ngFor="let gender of genders">
        <label [for]="gender.lable" class="block mb-1 text-lg">{{
          gender.title
        }}</label>
        <input
          type="radio"
          title="gender"
          formControlName="gender"
          [id]="gender.id"
          [value]="gender.value"
          class="scale-150"
        />
      </div>
    </div>
  </div>
  <!-- Password -->
  <div class="form-group mb-2">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      placeholder="Enter password"
      class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
    />
  </div>
  <!-- ConfirmPassword -->
  <div class="form-group mb-2">
    <label for="confirmPassword">ConfirmPassword</label>
    <input
      type="password"
      formControlName="confirmPassword"
      id="confirmPassword"
      placeholder="Enter confirm password"
      class="p-2 rounded-sm w-full border border-slate-700 focus:outline-blue-600"
    />
  </div>
  <button
    type="submit"
    class="w-full border border-slate-700 focus:outline-blue-600 rounded-sm mt-2 p-2 bg-blue-500 text-white hover:bg-blue-700"
  >
    Login
  </button>
</form>
