<header class="relative shadow-md bg-slate-50 lg:sticky lg:top-0 lg:z-10">
  <div class="contain w-[80%] flex justify-between items-center m-auto">
    <!-- Hamburger -->
    <button
      type="button"
      title="Hamburger"
      class="md:hidden text-2xl"
      (click)="toggleMenu()"
    >
      <fa-icon [icon]="hamburger"></fa-icon>
    </button>
    <!-- Brand logo -->
    <div class="logo-brand">
      <a [routerLink]="['/']" class="flex items-center gap-1">
        <img
          [src]="logoEShop"
          class="lg:w-12 w-10 rounded-sm"
          alt="Logo E-Shop"
        />
        <span class="logo-text text-lg md:text-2xl">EShop</span>
      </a>
    </div>
    <!-- Navbar -->
    <nav
      class="absolute top-full left-0 bg-slate-50 w-[50%] md:static md:bg-transparent md:flex hidden"
      [ngClass]="{ block: isShow, hidden: !isShow }"
    >
      <ul class="nav-list md:flex">
        <li class="nav-item" *ngFor="let item of navItem">
          <a
            [routerLink]="[item.link]"
            class="nav-link lg:p-4 p-2 py-4 block hover:bg-blue-600 hover:text-white"
          >
            {{ item.title }}
          </a>
        </li>
      </ul>
      <button
        type="button"
        title="Close"
        class="absolute top-2 right-2 text-3xl md:hidden"
        (click)="closeToggle()"
      >
        <fa-icon [icon]="close"></fa-icon>
      </button>
    </nav>
    <!-- Profile user -->
    <div class="profile">
      <ul class="profile-list flex">
        <li class="profile-item" *ngFor="let item of profileItem">
          <a
            [routerLink]="[item.link]"
            class="profile-link lg:p-4 p-2 py-4 block hover:bg-blue-600 hover:text-white"
            >{{ item.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
