<div class="email-container">
    <div class="email-header">Password Reset Request</div>
    <div class="email-content">
        <p>We have just received a password reset request for <strong th:text="${email}">[email]</strong>.</p>
        <p>Please click the button below to reset your password.</p>
        <a class="email-button" th:href="${resetLink}">Reset Your Password</a>
        <p>For your security, the link will expire in 24 hours or immediately after you reset your password.</p>
    </div>
    <div class="email-footer">
        <p>Thanks & Regards!<br />IMS Team</p>
    </div>
</div>